absl-py==0.4.1
astor==0.7.1
bleach==1.5.0
certifi==2018.8.24
chardet==3.0.4
embeddings==0.0.6
enum34==1.1.6
future==0.16.0
gast==0.2.0
grpcio==1.14.2
html5lib==0.9999999
idna==2.7
Markdown==2.6.11
nltk==3.3
numpy==1.14.5
pkg-resources==0.0.0
progress==1.4
protobuf==3.6.1
requests==2.19.1
six==1.11.0
tensorboard==1.10.0
tensorflow==2.5.3
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
tqdm==4.25.0
urllib3==1.23
Werkzeug==0.14.1
